{% load static from staticfiles %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" href="{% static 'img/favicon.ico' %}">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">


        <!-- SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page -->
        <!--
        <link rel="canonical" href="http://www.example.com/" >
        -->

        <!-- Add to homescreen for Chrome on Android -->
        <!--
        <meta name="mobile-web-app-capable" content="yes">
        -->

        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
        <!--
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
        -->

        <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
        <!--
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
        -->

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <script src="{% static 'js/vendor/modernizr-2.7.1.min.js' %}"></script>
    </head>
    <body>
        <header class="app-bar promote-layer">
            <div class="app-bar-container">
                <button class="menu"><img src="{% static 'img/hamburger.svg' %}" alt="Menu"></button>
                <section class="app-bar-actions"></section>
            </div>
        </header>
        <div  class="logo-w"><a href="/"><h1>Wordzam</h1></a></div>
        <nav class="navdrawer-container promote-layer opened">
            <ul>
               {% block feedmenu %}
                    {% if user and not user.is_anonymous %}
                        {% with u=request.resolver_match.url_name %}
                        <li>
                            <a {% if u == 'core-feed' %}class="active"{% endif %} href="{% url 'core-feed' %}">News feed</a>
                        </li>
                         <li>
                            <a {% if u == 'core-views' %}class="active"{% endif %} href="{% url 'core-views' %}">Views</a>
                        </li>
                        {% endwith %}
                    {% endif %}
                {% endblock %}
                <ul class="right-ul">
                    {% if user and not user.is_anonymous %}
                        <li>
                          <a href="{% url 'core-feed' %}">{{ user.username }}</a>
                        </li>
                        <li>
                        <a href="/logout">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
                        </li>
                    {% endif %}

                </ul>
            </ul>
        </nav>
        <div class="alert alert-danger fade"></div>
        <br>
       <main>
       {% block content %}
       {% endblock %}
       </main>

        <script src="{% static 'js/vendor/jquery-2.1.0.min.js' %}"></script>
        <script src="{% static 'js/main.min.js' %}"></script>
        <script src="{% static 'js/helper.js' %}"></script>
        <script src="{% static 'js/s345gh.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
  <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-60740945-1', 'auto');
ga('send', 'pageview');

</script>
    </body>
</html>
