{% extends 'core/base.html' %}

{% block title %}News feed - Wordzam.com{% endblock %}

{% block content %}
<div class="container">

{% if not object_list %}
<div class="none-l">Your materials on your links you shared with us will be displayed here</div>
{% endif %}

<div class="news-feed">
{% for obj in object_list %}
    <div class="c-feed">
        <div class="c-image" {% if not obj.seo_image %} style="background: #f5f5f5;"{% endif %}>
            {% if obj.seo_image %}
            <div style="background: url({{ obj.seo_image }});background-size: cover;background-position: 50% 50%;"></div>
            {% endif %}
        </div>
        <div class="c-content">
            <a style="text-decoration: none" target="_blank" href="http://wordzam.com/{{ obj.slug }}"><h2>{{ obj.seo_title }}</h2></a>
            {% if obj.seo_description %}<p>{{ obj.seo_description }}</p>{% endif %}
        </div>
        <div class="c-social">
            <div class="icon">
                <a onclick="window.open(this.href,this.target,'width=900,height=600');return false;" class="soc-menu__icon_fb" id="fb" href="http://www.facebook.com/sharer/sharer.php?u=http://wordzam.com/{{ obj.slug }}"></a>
                <a onclick="window.open(this.href,this.target,'width=600,height=300');return false;" class="soc-menu__icon_tw" id="tw" href="http://twitter.com/intent/tweet?url=http://wordzam.com/{{ obj.slug }}&amp;text={{ obj.seo_title }}"></a>
            </div>
            <div style="clear: both"></div>
            <div class="visit"><b>{{ obj.views }}</b><br>visits</div>
        </div>
        <div style="clear: both"></div>
    </div>
{% endfor %}
</div>

</div>
{% endblock %}