{% load static from staticfiles %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Wordzam - Share in a new way</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" href="{% static 'img/favicon.ico' %}">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">


        <!-- SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page -->
        <!--
        <link rel="canonical" href="http://www.example.com/" >
        -->

        <!-- Add to homescreen for Chrome on Android -->
        <!--
        <meta name="mobile-web-app-capable" content="yes">
        -->

        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
        <!--
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
        -->

        <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
        <!--
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
        -->
        <script src="{% static 'js/vendor/jquery-2.1.0.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <script src="{% static 'js/vendor/modernizr-2.7.1.min.js' %}"></script>
</head>
<body>
<div class="alert alert-danger fade"></div>
<!--
        <header class="app-bar promote-layer">
            <div class="app-bar-container">
                <button class="menu"><img src="{% static 'img/hamburger.svg' %}" alt="Menu"></button>
                <section class="app-bar-actions"></section>
            </div>
        </header>
        <div  class="logo-w"><a href="/"><h1>Wordzam</h1></a></div>
        <nav class="navdrawer-container promote-layer opened"><h4>Navigation</h4>
            <ul>
                <li>
                    {% block feedmenu %} {% if user and not user.is_anonymous %}<a class="active" href="/feed">News feed</a>{% endif %}{% endblock %}
                </li>
                <ul class="right-ul">
                    {% if user and not user.is_anonymous %}
                        <li>
                          <a>{{ user.username }}</a>
                        </li>
                        <li>
                        <a href="/logout">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
                        </li>
                    {% endif %}

                </ul>
            </ul>
        </nav>
        <div class="alert alert-danger fade"></div>
        <br>
        -->
       <main>
<div class="container glav">
<a href="/" class="logos"><h1>Wordzam</h1></a>
<div class="form_short">
<form method="POST" data-submit="shortWordForm"  role="form" class="form-horizontal form-v2 ajaxify-form" action="{% url 'core-short' %}" name="shortWord" id="shortWordForm">
{% csrf_token %}
<input id="short_url" taborder="1" name="short" type="text" class="short-input" placeholder="Paste a link" value="" autocomplete="off" autocorrect="off" autocapitalize="off">
<button id="btn_submit" class="submit-trigger" type="submit">Get</button>
</form>
{% if user and not user.is_anonymous %}
    <a  href="{% url 'core-feed' %}" class="logins"><h1>{{ user.username }}</h1></a>
{% else %}
    <a class="loginstwit" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"><h1>Login with Twitter</h1></a>
{% endif %}
</div>



<div id="result-short">
</div>

<div id="gradient" class="position"  >
    <div class="position-item">
        <h3>News Feed</h3>
                <p>The most interesting things on <br>your links you shared with us</p>
                <p>Save your time and browse the best</p>
                <p>Flexible setting system</p>
    </div>
    <div class="position-item">
        <h3>Frame bar</h3>
                <p>Browse popular relevant information</p>
    </div>

    <div class="position-item">
        <h3>Statistic</h3>
                <p>Keep track links shared (see what other looked)</p>
                <p>Trends</p>
    </div>
</div><div style="clear: both"></div>

<div class="top_container">
<h1 style="text-align: center">Trending Now</h1>
    <div class="topper">
        {% for obj in object_list %}
    <div class="c-feed">
        <div class="c-image" {% if not obj.seo_image %} style="background: #f5f5f5;"{% endif %}>
            {% if obj.seo_image %}
            <div style="background: url({{ obj.seo_image }});background-size: cover;background-position: 50% 50%;"></div>
            {% endif %}
        </div>
        <div class="c-content">
            <a style="text-decoration: none" target="_blank"  href="http://wordzam.com/{{ obj.slug }}"><h2>{{ obj.seo_title }}</h2></a>
            {% if obj.seo_description %}<p>{{ obj.seo_description }}</p>{% endif %}
        </div>
        <div class="c-social">
            <div class="icon">
                <a onclick="window.open(this.href,this.target,'width=900,height=600');return false;" class="soc-menu__icon_fb" id="fb" href="http://www.facebook.com/sharer/sharer.php?u=http://wordzam.com/{{ obj.slug }}"></a>
                <a onclick="window.open(this.href,this.target,'width=600,height=300');return false;" class="soc-menu__icon_tw" id="tw" href="http://twitter.com/intent/tweet?url=http://wordzam.com/{{ obj.slug }}&amp;text={{ obj.seo_title }}"></a>
            </div>
            <div style="clear: both"></div>
            <div class="visit"><b>{{ obj.views }}</b><br>visits</div>
        </div>
        <div style="clear: both"></div>
    </div>
{% endfor %}


    </div>
</div>

</div>
 </main>
        <script src="{% static 'js/pre-enter.js' %}"></script>
        <script src="{% static 'js/helper.js' %}"></script>
        <script src="{% static 'js/s345gh.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
  <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-60740945-1', 'auto');
ga('send', 'pageview');

</script>

    </body>
</html>