{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ object.seo_title }}</title>
    <meta property="og:title" content="{{ object.seo_title }}">
    {% if object.seo_description %}
    <meta name="description" content="{{ object.seo_description }}">
    <meta property="og:description" content="{{ object.seo_description }}">
    {% endif %}
    {% if object.seo_keywords %}
    <meta name="keywords" content="{{ object.seo_keywords }}">
    {% endif %}
    {% if object.seo_image %}
    <meta property="og:image" content="{{ object.seo_image }}">
    {% endif %}
<link rel="apple-touch-icon-precomposed" href="{% static 'img/favicon.ico' %}">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
<script src="{% static 'js/vendor/jquery-2.1.0.min.js' %}"></script>
        <script src="{% static 'js/jquery.iframetracker.js' %}"></script>

<style>
    #ifr {
    position: absolute;
    top: 34px;
    left: 0;
    border: 0;
    height: 100%;

    width: 100%;
    }
</style>
<style>
    html, body {
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 15px;
    }
   #bar {
width:100%;
height:34px;
background: #f5f5f5;

position:absolute;
z-index:99;
margin:0;
padding:0;
}

#meela_share {
height:25px;
width:200px;
float:left;
margin:7px 2px;
}

#meela_shareimg {
float:left;
width: 65px;
height:17px;
margin:7px 2px 7px 7px;
}

#meela_mini_logo {
float:left;
width:100px;
height:36px;
margin-left:10px;
}

#meela_box {
width:100%;
height:100%;
padding-top:35px;
}

#meela_frame {
margin-top:34px;
}

#close {
float:right;
color:#FFF;
text-decoration:none;
font-weight:700;
width:100px;
margin:7px;
}

#textadf {
float:right;
background: #FFCD00;
color: #000;
text-decoration:none;
font-weight:bold;
padding: 0 10px;
margin:8px 7px 7px 7px;
text-align: center;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#close:link {
color:#FFF;
text-decoration:none;
}

.result_h {text-shadow:0px 0px 10px green;}

.bar-related{
background: rgb(206, 17, 38);
color: white;
margin-left: 6px;
padding: 5px 10px;
display: inline-block;
line-height: 1em;
font-size: 15px;
margin-top: 4px;
    float: left;
border-radius: 2px;
    font-weight: bold;
}

.what{
display: block;
padding: 5px 10px;
line-height: 1em;
margin-top: 7px;
border-radius: 2px;
text-decoration: none;
    margin-left: 6px;
    color: #505050;
font-size: 15px;
float: right;
font-weight: bold;
margin-right: 6px;
}
.kol{
display: inline-block;
color: #000000;
float: left;
/* margin-left: 28px; */
font-size: 0.70em;
padding: 5px 10px;
line-height: 1em;
margin-top: 7px;
border-radius: 2px;font-weight: bold;
}
.bar-related a{
color: white;
    text-decoration: none;
    font-weight: bold;
}

</style>
</head>
<body style="margin: 0;overflow: hidden;">
<div id="bar">
<!--<div class="kol"><img src='{% static 'img/glaz.png' %}'>  {{ object.views }}</div>-->
<div id="meela_shareimg"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>

<div id="meela_shareimg"><div class="fb-share-button" data-href="" data-layout="button"></div></div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="bar-related"><a target="_blank" href="/r/{{ object.slug }}">Recommended for You</a></div>
<a href="/" target="_blank" class="what">What's this?</a>

</div>

<iframe id="ifr" target="_blank" src="{{ object.absolute_url }}" width="100%" vspace="0" frameborder="0" height="100%">
    Ваш браузер не поддерживает плавающие фреймы!
 </iframe>

  <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-60740945-1', 'auto');
ga('send', 'pageview');

</script>
</body>
</html>