<div class="c-feed-short">
        {% if obj.seo_image %}
        <div class="c-image-short">
            <img src="{{ obj.seo_image }}">
        </div>
        {% endif %}
        <div class="c-content-short">
            <a href="http://wordzam.com/{{ obj.slug }}"><h2>{{ obj.seo_title }}</h2></a>
            {% if obj.seo_description %}
            <p>{{ obj.seo_description }}</p>
            {% endif %}
        </div>
        
        <div style="clear: both"></div>
    </div>