/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


















/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
@media(min-width:992px){
    body{font-size:15.6px;line-height:24px}
    #header-inner .container,.container{max-width:920px;margin-right:auto;margin-left:auto}
}

header div{
background: #f5f5f5;
width: 100%;
margin-bottom: 20px;
}

#btn_submit{
padding: 7.4px 30.52px;
font-size: 19px;
display: inline-block;
text-align: center;
background: rgb(206, 17, 38);
border: none;
color: white;
    margin-top: 15px;
}
.short-input {
width: 85%;
padding: 8.4px 11.52px;
font-size: 19px;
font-weight: 200;
margin-right: 20px;
color: #7f898e;
line-height: 22px;
border-width: 0;
box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
-webkit-appearance: none;
}
.logos {
position: absolute;
z-index: 2;
font-size: 15px;
        font-weight: bold;
padding-left: 60px;
text-decoration: none;
margin: 0 auto;
width: 80px;
margin-top: -83px;
margin-left: 11%;
}
.logos h1{
    color: #505050;
}

.logins {
z-index: 2;
font-size: 13px;
text-decoration: none;
width: 80px;
margin-right: 0;
margin-top: -48px;
margin: 0 auto;
text-align: center;
}
.logins h1{
    color:#505050;
}
.loginstwit {
z-index: 2;
font-size: 13px;
text-decoration: none;
width: 180px;
margin-right: 0;
margin-top: -48px;
margin: 0 auto;
text-align: center;
}
.loginstwit h1{
    color: #505050;
}

@media (min-width: 990px) {
    #btn_submit {
        padding: 7.4px 30.52px;
        font-size: 19px;
        display: inline-block;
        text-align: center;
        background: rgb(206, 17, 38);
        border: none;
        color: white;
        margin-left: -5px;
        margin-top: 0;
    }
    .logins {
z-index: 2;
font-size: 13px;
text-decoration: none;
width: 80px;
margin-right: -45px;
float: right;
margin-top: -48px;
}
.logins h1{
    color: #505050;
}
.loginstwit {
z-index: 2;
font-size: 13px;
text-decoration: none;
margin-right: -188px;
float: right;
    width: 228px;
margin-top: -48px;
}
.loginstwit h1{
    color: #505050;
}


    .short-input {
        width: 70%;
        padding: 8.4px 11.52px;
        font-size: 19px;
        font-weight: 200;
        margin-right: 20px;
        color: #7f898e;
        line-height: 22px;
        border-width: 0;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
        -webkit-appearance: none;
    }
    .logos {
        position: absolute;
z-index: 2;
font-size: 15px;
        font-weight: bold;
padding-left: 0px;
text-decoration: none;
margin: 0 auto;
width: 80px;
margin-top: -16px;
  margin-left: -95px;
    }
    .logos h1{
        color: #505050;
    }
}
input[type=text]:focus {
        border: none;
        box-shadow: 0 0 0 1px rgba(18, 143, 220, 0.59);
    }

    .c-feed {
        margin-bottom: 10px;
        min-height: 110px;
    }

    .c-content {
        width: 70%;
        float: left;
    }

    .c-content p {
        font-size: 10px;
        line-height: 12px;
    }

    .c-content h2 {
        margin: 0;
        font-size: 13px;
    }

    .c-social {
        margin-left: 5px;
        width: 5%;
        float: left;
        text-align: center;
    }

    .c-image {
        float: left;
        margin-right: 10px;
        width: 41px;
        height: 25px;
    }
    .c-image div {
        max-width: 80px;
         height: 45px;
    }

    .c-image img {
        max-width: 160px;
    }

    .alert-danger {
        margin-top: 60px;
        width: 100%;
        background: rgb(255, 197, 197);
        border-bottom: 1px solid rgb(255, 148, 148);
        color: rgb(66, 66, 66);
        font-size: 0.8em;
        text-align: center;
        padding: 5px 0px;
        position: fixed;
    }

    .alert-danger.fade {
        display: none;
    }
    .position{
        text-align: center;
        padding: 5px 0px;
          margin: 0 -20px;
    }

    .position-ul{
        text-align: left;
        font-size: 14px;
        line-height: 6px;
    }

    .position-ul li > p{
        font-size: 14px;
    }

    .position-item{
        width: 85%;
        text-align: left;
        margin: 0 auto;
          color: white;
    }
    .position-item img{
        width: 241px;
    }
    .position-item:first-child{
        margin-right: none;
    }
    .position:last-child{
        margin-left: 5px;
    }

    .position-item p{
        font-size: 14px;
    }
@media (min-width: 990px) {
    .position-item p{
        font-size: 19px;
    }
    input[type=text]:focus {
        border: none;
        box-shadow: 0 0 0 1px rgba(18, 143, 220, 0.59);
    }

    .c-feed {
        margin-bottom: 10px;
        min-height: 110px;
    }

    .c-content {
        width: 70%;
        float: left;
    }
    .c-content a {
        color: rgb(51, 51, 51);
        text-decoration: none;
    }
    .c-content p {
        font-size: 12px;
        line-height: 18px;
    }

    .c-content h2 {
        margin: 0;
        font-size: 1.5em;
    }

    .c-social {
        margin-left: 5px;
        width: 5%;
        float: left;
        text-align: center;
    }

    .c-image {
        float: left;
        margin-right: 10px;
        width: 160px;
        height: 120px;
    }

    .c-image div {
        max-width: 176px;
         height: 100px;
    }

    .c-image img {
        max-width: 160px;
    }

    .alert-danger {
        margin-top: 60px;
        width: 100%;
        background: rgb(255, 197, 197);
        border-bottom: 1px solid rgb(255, 148, 148);
        color: rgb(66, 66, 66);
        font-size: 0.8em;
        text-align: center;
        padding: 0px 0px;
        position: fixed;
    }

    .alert-danger.fade {
        display: none;
    }
}
@media (min-width: 990px) {
    .position{
       text-align: center;
  height: 270px;
  position: absolute;
  font-size: 27px;
  color: white;
  overflow: hidden;
  width: 100%;
  left: 0;
  margin: 0;
    }

    .top_container{
          margin-top: 382px;
    }

    .position-ul{
        text-align: left;
        font-size: 14px;
        line-height: 6px;
    }

    .position-ul li > p{
        font-size: 14px;
          line-height: 16px;
    }


    .position-item{
        width: 30%;
        text-align: left;
        float: left;
    }
    .position-item img{
        width: 123px;
    }
    .position-item:first-child{
        margin-right: 5px;margin-left: 86px;
    }
    .position:last-child{
        margin-left: 5px;

    }

    .alert-danger {
          margin-top: -30px;
    }
    #result-short{
        margin-top: 50px;
    }
    #shortWordForm{text-align: left;}

    }
    .shooter {
        width: 100%;
        min-height: 80px;
    }

    .shooterh2 {
        float: left;
        font-size: 12px;
    }

    .shooter h2 > img {
        width: 22px;
        margin-right: 10px;
    }

    .link-short {
        text-decoration: none;
        color: #00e;
    }

    .copy-buttons {
        background: rgb(255, 255, 255);
        color: rgb(206, 17, 38);
        border: 1px solid rgb(206, 17, 38);
        margin-left: 17px;
        font-size: 0.6em;
        padding: 3px 10px;
        display: inline-block;
        line-height: 2em;
    }

    .copy-buttons:hover {
        background: rgb(175, 30, 45);
        color: white;
    }

    .socials {
        display: block;
        margin-left: 17px;
        float: left;
        margin-top: 10px;
    }

    .c-feed-short {
        font-size: 65%;
        min-height: 82px;
    }

    .c-content-short {
        width: 81%;
        float: left;
    }

    .c-content-short a {
        color: black;
    }

    .c-content-short h2 {
        margin: 0;
    }

    .c-content-short p {
        font-size: 12px;
        line-height: 18px;
    }

    .c-social-short {
        margin-left: 5px;
        width: 5%;
        float: left;
        text-align: center;
    }

    .c-image-short {
        float: left;
        margin-right: 10px;
        width: 42px;
    }

    .c-image-short img {
        float: left;
        margin-right: 10px;
        width: 40px;
    }

    .logo-w {
        position: fixed;
        z-index: 2;
        font-size: 15px;
        padding-top: 5px;
        left: 60px;
    }

    .logo-w a {
        text-decoration: none;
        color: #505050;
    }

    .logo-w a > h1 {
        margin: 0;
    }

    .visit {
        background: #f5f5f5;
border: 1px solid #F5F5F5;
        text-align: center;
        width: 43px;
        font-size: 11px;
    }

    .soc-menu__icon_tw {
        width: 20px;
        height: 20px;
        background: url('../img/twi.jpg'), no-repeat;
        position: relative;
        display: block;
        background-size: 100%;
        /* float: left; */
        margin: 0px 25px;
        /* padding: 5px 5px; */
    }

    .soc-menu__icon_fb {
        width: 20px;
        height: 20px;
        background: url('../img/face.jpg'), no-repeat;
        position: relative;
        display: block;
        background-size: 100%;
        float: left;
        margin: 0px 0px;
        padding: 0;
    }

    .icon {
        text-align: center;
        margin-bottom: 4px;
    }

    .soc-menu__icon_tw_big {
        width: 22px;
        height: 22px;
        background: url('../img/twi.jpg'), no-repeat;
        position: relative;
        display: block;
        background-size: 100%;
        float: left;
        margin: 0px 10px;
        /* padding: 5px 5px; */
    }

    .soc-menu__icon_fb_big {
        width: 22px;
        height: 22px;
        background: url('../img/face.jpg'), no-repeat;
        position: relative;
        display: block;
        background-size: 100%;
        float: left;
        margin: 0px 0px;
        padding: 0;
    }

    .container.glav {
        margin-top: 30px;
    }

    #shortWordForm {
        text-align: center;
    }
@media (min-width: 990px) {
    .shooter {
        width: 100%;
        min-height: 80px;
    }

    .shooterh2 {
        float: left;
        font-size: 1.5em;
    }

    .shooter h2 > img {
        width: 22px;
        margin-right: 10px;
    }

    .link-short {
        text-decoration: none;
        color: #00e;
    }

    .copy-buttons {
        background: rgb(255, 255, 255);
        color: rgb(206, 17, 38);
        border: 1px solid rgb(206, 17, 38);
        margin-left: 17px;
        font-size: 0.6em;
        padding: 3px 10px;
        display: inline-block;
        line-height: 2em;
    }

    .copy-buttons:hover {
        background: rgb(175, 30, 45);
        color: white;
    }

    .socials {
        display: block;
        margin-left: 17px;
        float: left;
        margin-top: 19px;
    }

    .c-feed-short {
        font-size: 65%;
        min-height: 82px;
    }

    .c-content-short {
        width: 80%;
        float: left;
    }

    .c-content-short a {
        color: black;
    }

    .c-content-short h2 {
        margin: 0;
    }

    .c-content-short p {
        font-size: 12px;
        line-height: 18px;
    }

    .c-social-short {
        margin-left: 5px;
        width: 5%;
        float: left;
        text-align: center;
    }

    .c-image-short {
        float: left;
        margin-right: 10px;
        width: 100px;
    }

    .c-image-short img {
        float: left;
        margin-right: 10px;
        width: 100px;
    }

    .logo-w {
        position: absolute;
        z-index: 2;
        font-size: 15px;
        padding-top: 5px;
        logo:60px
    }

    .logo-w a {
        text-decoration: none;
        color: #505050;
    }

    .logo-w a > h1 {
        margin: 0;
    }

    .visit {
        background: #f5f5f5;
border: 1px solid #F5F5F5;
text-align: center;
width: 43px;
font-size: 14px;
line-height: 20px;
    }

    .soc-menu__icon_tw {
        width: 20px;
        height: 20px;
        background: url('../img/twi.jpg'), no-repeat;
        position: relative;
        display: block;
        background-size: 100%;
        /* float: left; */
        margin: 0px 25px;

        /* padding: 5px 5px; */
    }

    .soc-menu__icon_fb {
        width: 20px;
        height: 20px;
        background: url('../img/face.jpg'), no-repeat;
        position: relative;
        display: block;
        background-size: 100%;
        float: left;
        margin: 0px 0px;
        padding: 0;
    }

    .icon {
        text-align: center;
        margin-bottom: 4px;
    }

    .soc-menu__icon_tw_big {
        width: 36px;
        height: 36px;
        background: url('../img/twi.jpg'), no-repeat;
        position: relative;
        display: block;
        background-size: 100%;
        float: left;
        margin: 0px 10px;
        /* padding: 5px 5px; */
    }

    .soc-menu__icon_fb_big {
        width: 36px;
        height: 36px;
        background: url('../img/face.jpg'), no-repeat;
        position: relative;
        display: block;
        background-size: 100%;
        float: left;
        margin: 0px 0px;
        padding: 0;
    }

    .container.glav {
        margin-top: 30px;
    }

    #shortWordForm {
        text-align: center;
    }
}
.none-l{
   background: rgb(216, 216, 216);
  padding: 5px 10px;
  margin-bottom: 10px;
}